{% extends 'base.html' %}

{% block content %}

  <h1>{{ person.username }}의 프로필 페이지</h1>
  {% with followings=person.followings.all followers=person.followers.all %}
    <div>
      <div>
        팔로잉 : <span id="followings-count">{{ person.followings.all|length }}</span> / 팔로워 : <span id="followers-count">{{ person.followers.all|length }}</span>
      </div>
      {% if user != person and request.user.is_authenticated %}
        <div>
          <form id='follow-form' data-user-id = "{{person.pk}}">
            {% csrf_token %}
            {% if request.user in person.followers.all %}
              <button id="followBtn">언팔로우</button>
            {% else %}
              <button id="followBtn">팔로우</button>
            {% endif %}
          </form>
        </div>
      {% endif %}
    </div>
  {% endwith %}

  {% for movie in movies %}

    <form class='like-forms' data-movie-id = "{{movie.pk}}">
      {% csrf_token %}
      {% if request.user in movie.like_users.all %}
        <input type="submit" value = "좋아요 취소" id = "like-{{movie.pk}}">
      {% else %}
        <input type="submit" value = "좋아요" id = "like-{{movie.pk}}">
      {% endif %}
    </form>
    <hr>
  {% endfor %}

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    // 1. form 요소 선택
    const formTag = document.querySelector('#follow-form')
    // 6. csrftoken value 값 선택
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    // 5. form 요소에 지정한 data 속성 접근하기
    const userId = formTag.dataset.userId
    // 2. form 요소에 이벤트 리스터 부착
    formTag.addEventListener('submit',function(event){
      // 3. submit 이벤트 기본 동작 취소
      event.preventDefault()
      // 4. axios로 비동기적으로 팔로우/언팔로우 요청
      axios({
        method : 'post',
        url : `/accounts/${userId}/follow/`,
        headers : {'X-CSRFToken' : csrftoken},
      })
        .then((response) => {
          console.log(response.data)
          // 7. Django에서 보낸 follow 여부를 알 수 있는 변수를 저장
          const isFollowed = response.data.if_followed
          // 8. 팔로우 버튼 선택
          const followBtn = document.querySelector('#followBtn')
          if (isFollowed === true) {
            followBtn.textContent = '언팔로우'
          } else {
            followBtn.textContent = '팔로우'
          }

          // 10. 팔로워 / 팔로잉 수 조작
          const followingsCountTag = document.querySelector('#followings-count')
          const followersCountTag = document.querySelector('#followers-count')

          followingsCountTag.textContent = response.data.followings_count
          followersCountTag.textContent = response.data.followers_count
        })
        .catch((error) => {
          console.log(error)
        })
    })
  </script>
{% endblock %}
